.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ruletta {
  /* border-radius: 50%; */
  width: 400px;
  height: 400px;
  background-color: red;
}

.ruletta-fast {
  animation: App-logo-spin infinite 1s linear;
}

.ruletta-2 {
  animation: App-logo-spin infinite 2s linear;
}

.ruletta-3 {
  animation: App-logo-spin infinite 3s linear;
}

.ruletta-4 {
  animation: App-logo-spin infinite 4s linear;
} 

.ruletta-5 {
  animation: App-logo-spin infinite 5s linear;
} 

.ruletta-6 {
  animation: App-logo-spin infinite 6s linear;
} 

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
